<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comapps.stansbluenote.app">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="comapps.stansbluenote.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="comapps.stansbluenote.app.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="STAN&apos;S BLUE NOTE"
        android:largeHeap="true"
        android:theme="@style/Theme.MainActivity">
        <activity android:name=".MainActivity">

            <!-- android:configChanges="orientation|keyboardHidden|screenSize"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityViewPager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MainActivity" />
        <activity
            android:name=".login.LoginSuccessActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MainActivity" />

        <activity
            android:name=".SetDrinkFavorites"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MainActivity" />

        <receiver
            android:name="com.backendless.push.BackendlessBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="comapps.stansbluenote.app" />
            </intent-filter>
        </receiver>

        <service android:name="com.backendless.push.BackendlessPushService" />
        <service android:name="com.backendless.geo.LocationTracker" />

        <receiver android:name="com.backendless.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>